* {
    box-sizing: border-box;
    text-decoration: none;
}

/* :root {
    --primary:;
} */

html {
    font-family: "Sora", sans-serif;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: #565656;
}

/* common */
.main-content {
    margin: 0 auto;
    width: 1170px;
    max-width: calc(100% - 42px);
}

.btn {
    text-align: center;
    display: inline-block;
    min-width: 205px;
    border-radius: 22px;
    background: #2e80ce;
    padding: 22px 15px;
    color: #fff;
    font-size: 1.8rem;
}

/* --------- header ----------- */
header {
    padding-top: 20px;
    background: #10375c;
    position: sticky;
    top: -20px;
    z-index: 2;
}

.header__navbar {
    background: #10375c;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list {
    display: flex;
}

.navbar__item a,
.navbar__cta .btn-login {
    padding: 5px 21px;
    color: #c9d2da;
    font-size: 1.6rem;
    font-weight: 300;
}

.navbar__item {
    display: flex;
    align-items: center;
}

.navbar__item.active a {
    font-weight: 400;
    color: #fff;
}

.navbar__item.active::before {
    display: inline-block;
    content: "";
    background-color: #fff;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: -13px;
}

.navbar__cta {
    display: flex;
    align-items: center;
}

.navbar__cta .btn-login {
    text-align: center;
    min-width: 106px;
    font-size: 1.6rem;
    padding: 14px 28px;
}

.navbar__cta .btn-signup {
    font-size: 1.6rem;
    min-width: 104px;
    padding: 14px 15px;
}

/* --------- hero ----------- */

.hero {
    padding: 66px 0 110px;
    background: #10375c;
}

.hero .main-content {
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 44.1% 46%;
}

.hero__content .title {
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14; /* 114.286% */
    letter-spacing: -1.4px;
}

.hero__content .desc {
    color: #c9d2da;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66; /* 166.667% */
    margin-top: 22px;
}

.hero__content .cta {
    display: flex;
    align-items: center;
    gap: 38px;
    margin-top: 38px;
}

.numberphone {
    color: #fff;
    font-size: 1.8rem;
}

.hero__img {
    display: flex;
    align-items: center;
}

.hero__img .big {
    width: 330px;
    height: 540px;
    object-fit: cover;
    border-radius: 6px;
    z-index: 1;
}

.hero__img .small {
    width: 210px;
    height: 410px;
    object-fit: cover;
    border-radius: 0px 6px 6px 0px;
    margin-left: -6px;
}
