* {
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --primary-color: #10375c;
}

html {
    font-family: "Sora", sans-serif;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    /* background-color: #565656; */
}

/* common */
.text-center {
    text-align: center;
}

.container {
    margin: 0 auto;
    width: 1170px;
    max-width: calc(100% - 42px);
}

.btn {
    text-align: center;
    display: inline-block;
    min-width: 205px;
    border-radius: 30px;
    background: #2e80ce;
    padding: 21px 15px;
    color: #fff;
    font-size: 1.8rem;
    transition: 0.25s;
}

.btn:hover {
    opacity: 0.8;
}

.control__btn {
    color: #575f66;
    width: 36px;
    height: 36px;
    background: #fff;
    border: 1px solid #575f66;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

.control__btn:hover {
    background: #2e80ce;
    cursor: pointer;
    color: #fff;
}

.control {
    column-gap: 18px;
    display: flex;
}

.control-next-icon {
    rotate: 180deg;
}

.section-desc {
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 30px;
}

.section-title {
    color: var(--primary-color);
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2; /* 120% */
    letter-spacing: -1px;
    margin-bottom: 18px;
}

/* --------- header ----------- */
.header {
    padding-top: 20px;
    background: var(--primary-color);
    position: sticky;
    top: -20px;
    z-index: 2;
}

.header__navbar {
    background: var(--primary-color);
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list {
    display: flex;
}

.navbar__item a,
.navbar__cta .btn-login {
    padding: 5px 21px;
    color: #c9d2da;
    font-size: 1.6rem;
    font-weight: 300;
}

.navbar__item {
    display: flex;
    align-items: center;
}

.navbar__item.active a {
    font-weight: 400;
    color: #fff;
}

.navbar__item.active::before {
    display: inline-block;
    content: "";
    background-color: #fff;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: -13px;
}

.navbar__cta {
    display: flex;
    align-items: center;
}

.navbar__cta .btn-login {
    text-align: center;
    min-width: 106px;
    font-size: 1.6rem;
    padding: 14px 28px;
}

.navbar__cta .btn-signup {
    font-size: 1.6rem;
    min-width: 104px;
    padding: 14px 15px;
    border-radius: 22px;
}

/* --------- hero ----------- */

.hero {
    padding: 66px 0 110px;
    background: var(--primary-color);
}

.hero .container {
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 44.1% 46%;
}

.hero__content__title {
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14; /* 114.286% */
    letter-spacing: -1.4px;
}

.hero__content__desc {
    margin-top: 22px;
    color: #c9d2da;
}

.hero__content .cta {
    display: flex;
    align-items: center;
    gap: 38px;
    margin-top: 38px;
}

.numberphone {
    color: #fff;
    font-size: 1.8rem;
}

.hero__img {
    display: flex;
    align-items: center;
}

.hero__img .big {
    width: 330px;
    height: 540px;
    object-fit: cover;
    border-radius: 6px;
    z-index: 1;
}

.hero__img .small {
    width: 210px;
    height: 410px;
    object-fit: cover;
    border-radius: 0px 6px 6px 0px;
    margin-left: -6px;
}

/* --------- services --------- */

.services {
    padding: 170px 0;
}

.services__title {
    text-align: center;
}

.services__desc {
    margin: 0 auto 70px;
    text-align: center;
    max-width: 468px;
}

.services-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services-main__img {
    width: 570px;
    height: 570px;
    object-fit: cover;
    border-radius: 12px;
}

.services-main__content {
    width: 40%;
}

.services-main__content .card {
    display: flex;
    align-items: flex-start;
    padding: 21px 61px 20px 22px;
    cursor: pointer;
}

.services-main__content .card:hover {
    background: #fff;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.services-main__content .card:hover svg {
    --tooth-color: #fff;
    transition: background-color linear 0.3s;
}

.services-main__content .card:hover .card__img {
    background-color: #2e80ce;
    transition: 0.25s;
}

.services-main__content .card__img {
    display: inline-block;
    padding: 17px 19px;
    background: #eff6fd;
    border-radius: 30px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
    margin-right: 19px;
}

.services-main__content .card__title {
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: normal;
}

.services-main__content .card__desc {
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    margin-top: 8px;
    line-height: 1.75; /* 175% */
}

.services-main__content svg {
    --tooth-color: var(--primary-color);
}

.services-main__content .btn {
    margin-top: 55px;
}

/* ---------- Work ----------- */

.work {
    background: #f6fbff;
    padding: 100px 0 116px;
}

.work__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.work-item {
    padding: 43px 42px;
    border: 16px solid;
    border-color: #eaf6ff;
}

.work-item:hover {
    transition: 0.25s;
    transform: translateY(-16px);
    border-color: #2e80ce;
}

.work-item__title {
    color: var(--primary-color);
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38; /* 138.462% */
    margin: 18px 0 28px;
}

.work-item__desc {
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

.work-item__link {
    display: inline-block;
    color: #2e80ce;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
    margin-top: 18px;
}

/* ----------- feature ----------- */

.feature {
    padding: 170px 0 85px;
    background: #fff;
}

.feature__inner {
    display: grid;
    align-items: center;
    grid-template-columns: 49% 40%;
    justify-content: space-between;
}

.feature__imgs {
    padding: 0 58px 121px 0;
    position: relative;
}

.feature__img-behind {
    width: 512px;
    height: 370px;
    object-fit: cover;
    border-radius: 6px;
}

.feature__img-front {
    width: 332px;
    height: 370px;
    object-fit: cover;
    border-radius: 6px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.feature__btn {
    margin-top: 38px;
}

/* --------- member --------- */

.member {
    padding: 85px 0;
    text-align: center;
}

.member__header {
}

.member__header .btn {
    margin-top: 20px;
}

.member__list {
    display: grid;
    grid-template-columns: repeat(4, calc(25% - 22.5px));
    grid-auto-flow: column;
    column-gap: 30px;
    margin-top: 70px;
    overflow: hidden;
}

.member-item {
    /* width: calc(25% - 22.5px); */
}

.member-item__img-bg {
    max-width: 270px;
    height: 318px;
    background: #eaf6ff;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.member-item__img {
    display: block;
    width: 100%;
    height: 290px;
    object-fit: cover;
    transition: 0.25s;
}

.member-item:hover .member-item__img {
    transform: scale(1.1);
    transition: 0.25s;
}

.member-item__name {
    color: #10375c;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.member-item__title {
    color: #575f66;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.85; /* 185.714% */
}

.member__control {
    justify-content: center;
    margin-top: 38px;
}

/* --------- install --------- */

.install {
    padding: 85px 0;
}

.install__inner {
    background: #2e80ce;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
}

.install__img {
    display: block;
    width: 284px;
    height: 522px;
    margin-top: -95px;
}

.install__content {
    max-width: 586px;
}

.install__content-title {
    max-width: 489px;
}

.install__content-title,
.install__content-desc {
    color: #fff;
}

.install__row {
    display: flex;
    column-gap: 28px;
    margin-top: 38px;
}

/* -------- new ---------- */

.news {
    padding: 85px 0 170px;
}

.news__inner {
    display: flex;
    justify-content: space-between;
}

.news__content {
    max-width: 40%;
}

.news__content__more {
    display: inline-block;
    margin: 10px 0 38px;
    color: #10375c;
    font-family: Inter;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.55; /* 155.556% */
    text-decoration-line: underline;
    text-underline-offset: 4px;
}

.news-item__thumb {
    height: 172px;
    overflow: hidden;
}

.news-item__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news__list {
    width: 48.7%;
    display: flex;
    justify-content: space-between;
}

.news-item {
    width: 270px;
    border-radius: 12px;
    background: #fff;
    border: 1px solid #e8ebee;
    overflow: hidden;
    transition: 0.25s;
}

.news-item:hover {
    box-shadow: none;
    transition: 0.25s;
    box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.05);
    border-color: #fff;
}

.news-item:hover .news-item__img {
    transform: scale(1.1);
    transition: 0.25s;
}

.news-item__body {
    padding: 18px 22px 21px;
}

.news-item__title {
    color: #10375c;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.63; /* 162.5% */
}

.news-item__desc {
    color: #575f66;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.71; /* 171.429% */
    margin: 10px 0 12px;
}

.news-item__more {
    color: #10375c;
    font-size: 1.4rem;
    font-weight: 400;
}

.news-item__more:hover {
    color: #2e80ce;
}

/*  ---------- CTA -----------  */

.Appointment {
    padding: 100px 0;
    background: #f6fbff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Appointment__title {
    position: relative;
    padding-bottom: 18px;
}

.Appointment__title::after {
    position: absolute;
    display: inline-block;
    content: "";
    width: 136px;
    height: 2px;
    background: #2e80ce;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}

.Appointment__desc {
    max-width: 617px;
    text-align: center;
}

.Appointment__btn {
    margin-top: 38px;
    border-radius: 30px;
}
